<a href="https://colab.research.google.com/github/madhusudhan0211/Machine_Learning/blob/main/Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [144]:
df = pd.read_csv('insurance.csv')

In [145]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [147]:
df.shape

(1338, 7)

In [148]:
df.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [149]:
df.drop('region',axis=1,inplace=True)

In [150]:
df.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [151]:
df2 = pd.get_dummies(df, columns = ['sex','smoker'])
df2

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [152]:
y = df2.iloc[:,1].values
X = df2.iloc[:,1:].values

In [153]:
X

array([[2.79000000e+01, 0.00000000e+00, 1.68849240e+04, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.37700000e+01, 1.00000000e+00, 1.72555230e+03, ...,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [3.30000000e+01, 3.00000000e+00, 4.44946200e+03, ...,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       ...,
       [3.68500000e+01, 0.00000000e+00, 1.62983350e+03, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [2.58000000e+01, 0.00000000e+00, 2.00794500e+03, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [2.90700000e+01, 0.00000000e+00, 2.91413603e+04, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00]])

In [154]:
y

array([27.9 , 33.77, 33.  , ..., 36.85, 25.8 , 29.07])

In [155]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split

In [156]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.2,random_state =0)

In [157]:
model = Lasso(alpha = 0.1,normalize=True)

In [158]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lasso())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  FutureWarning,

Lasso(alpha=0.1, normalize=True)

In [159]:
y_pred = model.predict(X_test)

In [160]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7192755382315345